{% extends 'homebase.html' %} {% load static %}
<!-- prettier-ignore -->
{% block title %} {{ setting.title }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %}{{ setting.description }} {% endblock %}

{% block head %}
<!-- prettier-ignore -->
<link type="image/png" rel="icon" sizes="96x96" href="{{ setting.icon.url }}" />
{% endblock %}

<!-- prettier-ignore -->
{% block sidebar %}
    {% include 'sidebar.html' %}
{% endblock %}
{% block slider %}
    {% include 'slider.html' %}
{% endblock %}
{% block body %}
    {% include 'content.html' %}
{% endblock %}
