{% extends 'homebase.html' %} {% load static %}
<!-- prettier-ignore -->
{% block title %} İletişim-{{ setting.company }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %}{{ setting.description }} {% endblock %}

{% block head %}
<!-- prettier-ignore -->
<link type="image/png" rel="icon" sizes="96x96" href="{{ setting.icon.url }}" />
{% endblock %}

<!-- prettier-ignore -->
{% block sidebar %}
    {% include 'sidebar.html' %}
{% endblock %}
{% block body %}
<!-- BREADCRUMB -->
<div id="breadcrumb">
	<div class="container">
		<ul class="breadcrumb">
			<li><a href="{% url 'index' %}">Anasayfa</a></li>
			<li class="active">İletişim</li>
		</ul>
	</div>
</div>
<!-- /BREADCRUMB -->
{% if messages %} {% for message in messages %}
<div class="container">
	<div class="alert alert-{{ message.tags }}" role="alert" style="margin-top: 20px; margin-bottom: 0;">
		{{ message }}
	</div>
</div>
{% endfor %} {% endif %}

<!-- section -->
<div class="section" style="padding-top: 15px">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <p>
                        {{ field.label_tag }}<br>
                        {{ field }}
                        {% if field.help_text %}
                            <small style="color: grey">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </p>
                {% endfor %}
                <button class="primary-btn" type="submit">Save changes</button>
            </form>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /section -->
{% endblock %}
